@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*{
	padding: 0px;
	margin:0px;
	list-style: none;
	text-decoration: none;
}
body {
	background: url(https://zastavok.net/main/cosmos/154988461394.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
   -moz-background-size: cover;
     -o-background-size: cover;
        background-size: cover
        -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.SUPEXTEXT{

	color: white;
	Position:absolute;
	font-size: 100%;
top:50%;
left:50%;
font-family: 'Luckiest Guy', cursive;
transform:translate(-50%,-50%);
}

.SUPEXBUTTON{
	color:#F2F2F2;
	background-color: #2E9AFE;
	font-size: 18px;
	border-style: none;
	border-radius: 50px;
	width: 150px;
	height: 50px;
	outline: none;
position: absolute;
margin-left: 50%;
transform: translate(-50%, 0);
}

.SUPEXCLASS{
	color: #D8D8D8;
	position:absolute;
	font-size: 20px;
top:50%;
width: 134px;
left:50%;
font-family: 'Abel', sans-serif;
transform:translate(-50%,-50%);
}
.SUPEX{
	color: white;
	Position:absolute;
	font-size: 50px;
top:1%;
left:50%;
font-family: 'Bungee', cursive;
transform:translate(-50%,-50%);
}


.HELPER{
	position: absolute;
	font-size: 100%;
	font-family: 'Abel', sans-serif;
	font-size: 20px;
	width:230px;
top:3%;
right:3%;
}

.A {
	background-size: 100px;
color:#FFFFFF;
text-decoration:none;
}

.A:active {
color:#FFFFFF;
text-decoration:none;
}

.A:visited {
color:#FFFFFF;
text-decoration:none;
}

.A:hover {
	transition: 1s;
	border-radius: 10px;
color:#FFFFFF;
text-decoration: none;
}
ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
}

li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
  margin-right:20px; /*Добавляем отступ у пунктов меню*/
}
.SUPEXBUTTON:hover{
	background-color: #59AEFC;
    cursor: pointer;
}